.post-container{
    width: 350px;
    height: 450px;
    position: relative;
    top: 10px;
    left: 12px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
}


.user-card{
    display: flex;
    height: 50px;
    width: 350px;

    &--picture{
        width: 50px;
        position: relative;
        left: 7px;
        top: 2px;
    }

    &--username{
        position: relative;
        top: 12px;
        left: 17px;
        font-size: 20px;
    }

}

.post-input{
    width: 325px;
    height: 250px;
    position: relative;
    left: 10px;
    top: 10px;
    border: solid rgb(245, 247, 247);
    background-color: rgb(245, 247, 247);
    border-radius: 5px;
    font-size: 15px;
}

.post-input-upload{
    margin-top: 20px;
    margin-left: 12px;
}

.create-post{
    height: 70px;
    text-align: center;
    text-decoration: none;
    

    &--button{
        top: 20px;
        left: 25px;
        width: 300px;
        border-radius: 40px;
        position: relative;
        font-size: 1.2rem;
        padding: 10px 0px;
        background-color: $primary-color;
        color: white;
        text-decoration: none;
    }

    &--button:hover{
        cursor: pointer;
    }

}

@media only screen and (min-width: 998px) {
    .post-container-body{
        height: 770px;
        max-width: 1440px;
        margin: 0px 120px;
        border-left: 4px solid rgb(245, 247, 247);
        border-right: 4px solid rgb(245, 247, 247);
    }

    .post-container{
        width: 900px;
        height: 600px;
        margin: 0px 100px 15px 250px;
    }
    
    
    .user-card{
        display: flex;
        height: 80px;
        width: 350px;
    
        &--picture{
            width: 80px;
            height: 80px;
        }
    
        &--username{
            position: relative;
            top: 12px;
            left: 17px;
            font-size: 40px;
        }
    
    }
    
    .post-input{
        width: 870px;
        height: 350px;
        font-size: 20px;
    }
    
    .post-input-upload{
        margin-top: 20px;
        margin-left: 12px;
    }
    
    .create-post{
        height: 70px;
        text-align: center;
        text-decoration: none;
        
    
        &--button{
            top: 50px;
            left: 575px;
            width: 300px;
            border-radius: 40px;
            position: relative;
            font-size: 1.2rem;
            padding: 10px 0px;
            background-color: $primary-color;
            color: white;
            text-decoration: none;
        }
    
        &--button:hover{
            cursor: pointer;
        }
    
    }
}
