.misc-nav {
    display: flex;
    flex-direction: row;
    height: 65px;
    width: auto;
    background-color: $primary-color;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);


    &--back-arrow {
        font-size: 30px;
        position: relative;
        top: 12px;
        left: 20px;
        color: white;
    }

    &--title {
        position: relative;
        top: -4px;
        left: 90px;
        color: white;

        &__menu {
            position: relative;
            top: -4px;
            left: 120px;
            color: white;
        }
    }
}

@media only screen and (min-width: 998px) {
    .misc-nav {

    
        &--title {
            position: relative;
            top: -4px;
            left: 750px;
            color: white;
    
            &__menu {
                position: relative;
                top: -4px;
                left: 750px;
                color: white;
            }
        }
    }

}
